<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tim.ap.mapper.AudioMapper">

	<resultMap type="com.tim.ap.entity.AudioEntity" id="AudioResultMap">
		<result property="id" column="ID" />
		<result property="c_id" column="C_ID" />
		<result property="m_email" column="M_EMAIL" />
		<result property="time_beg" column="TIME_BEG" />
		<result property="time_end" column="TIME_END" />
		<result property="ad_text" column="AD_TEXT" />
		<result property="ad_wav_filepath" column="AD_WAV_FILEPATH" />
		<result property="ad_download_cnt" column="AD_DOWNLOAD_CNT" />
	</resultMap>

	<select id="getAudioList" parameterType="com.tim.ap.entity.AudioEntity" resultType="com.tim.ap.entity.AudioEntity">
		SELECT ID, C_ID, M_EMAIL, TIME_BEG, TIME_END, AD_TEXT, AD_WAV_FILEPATH, AD_DOWNLOAD_CNT
			FROM AUDIO
			<where>
				<if test="id != 0">
					ID = #{id}
				</if>
				<if test="c_id != 0">
					C_ID = #{c_id}
				</if>
			</where>
	</select>

	<insert id="insertAudio" parameterType="com.tim.ap.entity.AudioEntity">
		INSERT INTO AUDIO (C_ID, M_EMAIL, TIME_BEG, TIME_END, AD_TEXT, AD_WAV_FILEPATH, AD_DOWNLOAD_CNT)
			VALUES (#{c_id}, #{m_email}, #{time_beg}, #{time_end}, #{ad_text}, #{ad_wav_filepath}, #{ad_download_cnt})
	</insert>

	<update id="updateAudio" parameterType="com.tim.ap.entity.AudioEntity">
		UPDATE AUDIO
			SET
			<if test="ad_download_cnt != 0">
				AD_DOWNLOAD_CNT = AD_DOWNLOAD_CNT + 1
			</if>
			WHERE
				ID = #{id}
	</update>
	
	
	<!-- 	김병현 -->
<!-- 	리스트의 전체 갯수를 반환하는 쿼리-->
	<select id="selectAudioTotalCount" resultType="java.lang.Integer" parameterType="com.tim.ap.entity.ConferListSelectEntity">
		select count(*) from audio where c_id = #{c_id}
	</select>
	
<!-- 	검색될 리스트를 반환하는 쿼리 -->
	<select id="selecAudiotList" parameterType="com.tim.ap.entity.ConferListSelectEntity" resultType="com.tim.ap.entity.AudioEntity">
			select * from audio where 1 = 1 
			and  c_id = #{c_id}
		<choose>
<!-- 			index는 날짜로 검색할 것인지, 제목으로 검색할 것인지 담겨있는 String 이며
				담겨있는값이 뭐냐에 따라 검색이 된다.-->
		    <when test='index == "M_EMAIL"'>
		    	AND M_EMAIL like CONCAT('%', #{val}, '%')
		    </when>
		    <when test='index == "AD_TEXT"'>
		    	AND M_EMAIL like CONCAT('%', #{val}, '%')
		    </when>
		    <when test='index == "AD_WAV_FILEPATH"'>
		    	AND AD_WAV_FILEPATH like CONCAT('%', #{val}, '%')
		    </when>
	  	</choose>
		    	order by 1 desc
	</select>
	
<!-- 	검색된 리스트의 갯수를 반환하는 쿼리 -->
	<select id="selectAudioListCount" resultType="java.lang.Integer" parameterType="com.tim.ap.entity.ConferListSelectEntity">
		select count(*) from audio where c_id = #{c_id}
		<choose>
		    <when test='index == "M_EMAIL"'>
		    	AND M_EMAIL like CONCAT('%', #{val}, '%')
		    </when>
		    <when test='index == "AD_TEXT"'>
		    	AND M_EMAIL like CONCAT('%', #{val}, '%')
		    </when>
		    <when test='index == "AD_WAV_FILEPATH"'>
		    	AND AD_WAV_FILEPATH like CONCAT('%', #{val}, '%')
		    </when>
	  	</choose>
	</select>
</mapper>
